%h1 Companies & Contacts
%em See who's who in the Zoo

%h2 Companies
= render 'companies/company_list'

%h2 Contacts
= render 'contacts/contact_list'

%h2 Friendships
= render 'friendships/friendship_list'