%h2 Edit Friendship
= simple_form_for @friendship, url: {action: 'update'} do |f|
  = f.association :contact, label_method: :full_name, value_method: :id, include_blank: false
  = f.association :friend, label_method: :full_name, value_method: :id, include_blank: false
  = f.submit