%h2=@contact.full_name
%h3=@contact.position + ' at ' + @company.name

%h3=@contact.first_name + ' is friends with:'
-#List Friendships here

= link_to '<< Back to index page', :controller => 'home', :action => 'index'