// Full Name & Photo
%img{:src => "http://placehold.it/460x460", :class => 'profile-pic'}
%h2=@contact.full_name

//Position at Company
.contact-info
  %h3
    =@contact.position + ' at '
    =link_to @contact.company.name, :controller => "companies", :action => "show", :id => @contact.company.id
  =link_to 'Edit contact', :action => 'edit', :id => @contact.id, :class => 'button'

  // Contact Info
  %table.table.table-striped
    -if @contact.phone != ""
      %tr
        %td
          %span{:class => 'glyphicon glyphicon-earphone'}
          =@contact.phone

    -if @contact.email != ""
      %tr
        %td
          %span{:class => 'glyphicon glyphicon-envelope'}
          =mail_to @contact.email, @contact.email


//Friendships
%h3=@contact.first_name + ' is friends with:'
- @friendships.each do |f|

  -if f.contact != @contact
    %li
      %img{:src => "http://placehold.it/60x60"}
      =link_to f.contact.full_name, :controller => "contacts", :action => "show", :id => f.contact_id

  -if f.friend != @contact
    %li
      %img{:src => "http://placehold.it/60x60"}
      =link_to f.friend.full_name, :controller => "contacts", :action => "show", :id => f.friend_id

= link_to '<< Back to index page', :controller => 'home', :action => 'index'