body {
  background-color: #EFEFEF;
}

img {
  max-width: 200px;
}

.field_with_errors {

  label {
    color: #AA0000;
  }

  input {
    border: 1px solid #AA0000;
  }
}
.panel {
  margin: 10px;
}

.page-header {

}

.profile-pic {
  float: left;
}

.contact-info {

}